.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.php-cs-fixer.php export-ignore
tests export-ignore
git-hooks export-ignore
bin/add-git-hooks export-ignore
.github export-ignore
