parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        analyse:
            - tests/_Integration/_Server
    ignoreErrors:
         - "#^Call to an undefined method Pest\\\\Expectation\\|Pest\\\\Support\\\\Extendable\\:\\:\\S+\\(\\)\\.$#"
